.form-background {
  color: black;
  background-color: white;
  padding: 120px;
  padding-top: 30px;
  padding-bottom: 30px;
  margin: 100px;
  border-radius: 10px;
  box-shadow: 2px 6px 6px rgba(0, 0, 0, 0.11);
}

.form-control {
  border-radius: 8px;
}

.tenant-line-one {
  display: flex;
  justify-content: space-between;
}

.tenant-line-two {
  display: flex;
  justify-content: space-around;
}

#first-name {
  flex-grow: 1;
  margin-right: 130px;
  width: 100%
}

#last-name {
  flex-grow: 1;
  margin-right: 130px;
  margin-left: 10px;
}

.btn-primary:hover {
  background: linear-gradient(300deg, #00486E 0%, #00486E 20%, #6ECBC1 100%);
}
// .unit-number {
//   display: flex;
//   justify-content: center;
// }

.tenant-task-btn .btn-primary{
  display: flex;
  justify-content: center;
  border-radius: 10px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 7px;
  padding-bottom: 7px;
  background: linear-gradient(120deg, #00486E 0%, #00486E 20%, #6ECBC1 100%);
}

.tenant-task-btn .btn-primary:hover {
  background: linear-gradient(300deg, #00486E 0%, #00486E 20%, #6ECBC1 100%);
}

#email {
  flex-grow: 1;
  margin-right: 130px;
  width: 100%
}

#password {
  flex-grow: 1;
  margin-right: 130px;
  margin-left: 10px;
}
