// Specific CSS for your home-page
body {
  background-color: #F8F8F8;
}

.container{
  padding-top: 60px;

h1 {
  color: black;
  font-size: 35px;
  justify-content: center;
  display: flex;
  padding-top: 10px;
  padding-bottom: 10px;

.tasks-profits {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  margin-left: 20px;
  box-shadow: 2px 6px 6px rgba(0, 0, 0, 0.11);
  .tasks li {
    margin: 15px;
  }
  .profits-and-loss {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    width: 50%;
    margin-left: 20px;
    box-shadow: 2px 6px 6px rgba(0, 0, 0, 0.11);
  .loss {
    display: flex;
    flex-grow: 1;
    margin-top: 20px;
    padding-right: 125px;
  }

  .profit {
    display: flex;
    flex-grow: 1;
  }
}
