// Specific CSS for your home-page
body {
  background-color: #F8F8F8;
  // margin-top: 50px;
}

.container{
  padding-top: 60px;
  padding-left: 40px;
}

h1 {
  color: black;
}

p {
  color: black;
}
