//renter scss
.renter {
  background: #FFFFFF;
  box-shadow: 2px 6px 6px rgba(0, 0, 0, 0.11);
  border-radius: 10px;
  align-items: center;
  justify-content: center;
  flex-direction: row;

  p {
    text-align: center;
  }

  .dashboard {
    width: 100%;
    margin: 0 auto;
    display: grid;
    justify-content: center;
    // grid-template-rows: auto;
    // grid-template-columns: 1fr 1fr;

  }

  .profile-communication {
    flex-direction: row;

  }

  .avatar-large {
    height: 100px;
    width: 100px;
    border: 1px solid lightgray;
  }
}
