//renter scss
.renter-dashboard {
  background: #FFFFFF;
  box-shadow: 2px 6px 6px rgba(0, 0, 0, 0.11);
  border-radius: 10px;
  padding: 16px;
  margin-top: 20px;

  h1 {
    margin: 30px 0;
  }

  .profile,.communication,.payment {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .profile-communication {
    display: flex;
    justify-content: center;
  }

  .profile {
    margin-right: 40px;
  }

  .communication {
    margin-left: 40px;
  }

  .avatar-large {
    height: 100px;
    width: 100px;
    border: 1px solid lightgray;
  }
}
