@import "new";
// new task cards
.card-product-s {
  display: grid;
  grid-template-rows: 1fr 2fr;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas: 
    ". task-header task-update"
    "task-details task-description task-img-upload";
  margin-bottom:3%;
  background: white;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  margin-top: 10px;
  padding: 15px;
  border-radius: 10px;
}
.card-product-r {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas: 
    "task-details task-description task-img-upload";
  margin-bottom:3%;
  background: white;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  margin-top: 10px;
  padding: 15px;
  border-radius: 10px;
}

.task-header {
  grid-area: task-header;
  text-align: center;
}
.task-update {
  grid-area: task-update;
  text-align: right;
}
.task-details {
  grid-area: task-details;
  border-right: 1px solid lightgrey;
  padding:5%;
  padding-left:0;
}

.task-description {
  grid-area: task-description;
  border-right: 1px solid lightgrey;
  padding:5%;
}
.task-img-upload {
  grid-area: task-img-upload;
  padding:5%;
}


//renter
.building-index-h1 {
  margin-top: 40px;
  margin-bottom: 20px;
}


.task-label {
  background-color: #009BA5;
  border-radius: 0 10px 10px 0;
  padding: 2px 10px;
  margin: 5px;
  margin-right: 50px;
}

.task-label p {
  font-weight: bold;
  color: white;
  display: contents;
}
.task-line-one {
  display: flex;
  width: max-content;
  height: 40px;
}
.pe-tag {
 margin: auto;
}
.head-card {
  display: flex;
  position: absolute;
  left: 40%;
  top: 120px;
}

#task-complete {
  height: 30px;
  width: 180px;
}

.card-title-top {
  //position: relative;
  bottom: 90px;
  left: 100px;
  text-align: center;
}

.img-s {
  bottom: 20px;
}

.task-pen {
  padding-left: 20px;
}
