//renter
.card-product-r{
  width: 645px;
  height: 280px;
  color: black;
  display: flex;
  flex-direction: column;
  background-color: white;
  margin: 10px;
  padding-bottom: 30px;
  border-radius: 10px;
  box-shadow: 2px 6px 6px rgba(0, 0, 0, 0.11);

.head-card-r{
  position: absolute;
  left: 45%;
}


.product-info-r {
  padding-top: 90px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  }
.task-info-r {
  width: 177px;
  height: 140px;

  }
.task-description-r {
  width: 177px;
  height: 140px;
  }
.img-r {
  width: 177px;
  height: 140px;
  }
}
