@import "new";
//renter
.building-index-h1 {
  margin-top: 30px;
}
.card-product-s {
  // height: 280px;
  background: white;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-wrap: no-wrap;
  flex-direction: row;
  align-items: center;
  margin-top: 10px;
  padding: 15px;
  border-radius: 10px;
  justify-content: space-between;
}

.task-label {
  background-color: #009BA5;
  border-radius: 0 10px 10px 0;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 2px;
  padding-bottom: 2px;
  margin: 5px;
  margin-right: 50px;
}

.task-label p {
  font-weight: bold;
  color: white;
  display: contents;
}
.task-line-one {
  display: flex;
  width: max-content;
  height: 40px;
}

.task-description {
  padding-top: 50px;
}
.head-card {
  display: flex;
  position: absolute;
  left: 40%;
  top: 120px;
}

#task-complete {
  height: 30px;
  width: 180px;
}


.task-middle-s {
  position: relative;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card-title-top {
  //position: relative;
  bottom: 90px;
  left: 100px;
  text-align: center;
}

.right-side-card {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 33%;
  align-items: center;
}

.edit-status {
  position: absolute;
  bottom: 110px;
}

.edit-status .fa-pencil-alt:before {
  top: -35px;
  left: 180px;
}

.img-s {
  bottom: 20px;
}

.task-line-one p {
  display: flex;
}

