<h1>Tasks</h1>
<% @tasks.each do |task| %>
<ul class="list-group">
<h2><%= task.title %></h2>
  <li class="list-group-item">Description: <%= task.description %></li>
  <li class="list-group-item">Status: <%= task.status %></li>
  <li class="list-group-item">Urgency: <%= task.urgency %></li>
</ul>
<% end %>