
<div class="navbar" id="navbar">
  <% if user_signed_in? && current_user.photo.attached? %>
      <%= cl_image_tag current_user.photo.key, class:'avatar', alt:'avatar' %>
  <% else %>
    <img class="avatar" alt="avatar" src="https://kitt.lewagon.com/placeholder/users/cveneziani" />
  <% end %>
  <i class="fas fa-house-user"></i>
</div>


<div class="sidenav">
  <div class="icons">
    <%= link_to '<i class="far fa-building"></i>'.html_safe, buildings_path %>
    <%= link_to '<i class="far fa-address-book"></i>'.html_safe, contractors_path %>
    <%= link_to '<i class="far fa-calendar-alt"></i>'.html_safe, tasks_path %>
    <button class="plus" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fas fa-plus"></i></button>
    <div class="dropdown-menu">
          <!-- Dropdown menu links -->
          <a class="dropdown-item" href="">Task</a>
          <a class="dropdown-item" href="">Building</a>
          <a class="dropdown-item" href="">Contacts</a>
    </div>
  </div>
</div>
