
<div class="top navbar">
  <img class="avatar" alt="avatar" src="https://kitt.lewagon.com/placeholder/users/cveneziani" />
  <i class="fas fa-house-user"></i>
</div>


<div class="side nav">
  <div class="icons">
    <a href="" ><i class="far fa-envelope"></i></a>
    <a href=""><i class="far fa-calendar-alt"></i></a>
    <a href=""><i class="fab fa-cc-stripe"></i></a>
  </div>
</div>
