<div class="dashboard">
  <div class="header">
    <h1>Welcome, <%= current_user.first_name %></h1>
  </div>
  <div class="dashboard-expenses-chart">
    <canvas id="expense-chart" data-expense-data="<%= @fake_data.to_json %>"></canvas>
  </div>


  <div class="tasks">
    <svg id="progress" width="108" height="37" viewBox="0 0 108 37" fill="none" xmlns="http://www.w3.org/2000/svg">
      <g filter="url(#filter0_d)">
      <rect x="4" y="22.2419" width="100" height="6" rx="2" fill="#C4C4C4"/>
      </g>
      <rect x="4" y="22.2419" width="50" height="6" rx="2" fill="#009BA5"/>
      <path d="M12.6322 4.3689H9.43301V13.2419H8.12735V4.3689H4.93497V3.28882H12.6322V4.3689ZM17.6977 13.2419C17.6247 13.0961 17.5655 12.8363 17.5199 12.4626C16.932 13.0733 16.2302 13.3787 15.4145 13.3787C14.6853 13.3787 14.086 13.1736 13.6166 12.7634C13.1518 12.3487 12.9193 11.8246 12.9193 11.1912C12.9193 10.421 13.211 9.82397 13.7943 9.40015C14.3822 8.97176 15.2071 8.75757 16.269 8.75757H17.4994V8.17651C17.4994 7.73446 17.3673 7.38354 17.1029 7.12378C16.8386 6.85946 16.449 6.72729 15.934 6.72729C15.4828 6.72729 15.1046 6.84123 14.7992 7.06909C14.4939 7.29696 14.3412 7.57267 14.3412 7.89624H13.0697C13.0697 7.5271 13.1996 7.17163 13.4594 6.82983C13.7237 6.48348 14.0792 6.21004 14.5258 6.00952C14.977 5.809 15.4714 5.70874 16.0092 5.70874C16.8614 5.70874 17.529 5.92293 18.0121 6.35132C18.4952 6.77515 18.7458 7.36076 18.7641 8.10815V11.5125C18.7641 12.1915 18.8507 12.7315 19.0238 13.1326V13.2419H17.6977ZM15.599 12.2781C15.9955 12.2781 16.3715 12.1755 16.727 11.9705C17.0824 11.7654 17.3399 11.4988 17.4994 11.1707V9.65308H16.5082C14.9587 9.65308 14.184 10.1065 14.184 11.0134C14.184 11.4099 14.3162 11.7198 14.5805 11.9431C14.8448 12.1664 15.1843 12.2781 15.599 12.2781ZM25.0531 11.28C25.0531 10.9382 24.9232 10.6739 24.6635 10.4871C24.4083 10.2957 23.9594 10.1316 23.3168 9.99487C22.6788 9.85815 22.1706 9.69409 21.7924 9.50269C21.4187 9.31128 21.1407 9.08341 20.9584 8.81909C20.7807 8.55477 20.6918 8.24032 20.6918 7.87573C20.6918 7.26961 20.947 6.75692 21.4574 6.33765C21.9724 5.91838 22.6287 5.70874 23.4262 5.70874C24.2647 5.70874 24.9438 5.92521 25.4633 6.35815C25.9874 6.7911 26.2494 7.34481 26.2494 8.01929H24.9779C24.9779 7.67293 24.8298 7.37443 24.5336 7.12378C24.2419 6.87313 23.8728 6.7478 23.4262 6.7478C22.9659 6.7478 22.6059 6.84806 22.3461 7.04858C22.0863 7.2491 21.9565 7.51115 21.9565 7.83472C21.9565 8.14006 22.0772 8.3702 22.3188 8.52515C22.5603 8.68009 22.9955 8.82821 23.6244 8.96948C24.2579 9.11076 24.7706 9.27938 25.1625 9.47534C25.5544 9.67131 25.8438 9.90828 26.0307 10.1863C26.2221 10.4597 26.3178 10.7947 26.3178 11.1912C26.3178 11.852 26.0535 12.3829 25.5248 12.7839C24.9962 13.1804 24.3103 13.3787 23.4672 13.3787C22.8747 13.3787 22.3507 13.2738 21.8949 13.0642C21.4392 12.8546 21.0815 12.5629 20.8217 12.1892C20.5665 11.811 20.4389 11.4031 20.4389 10.9656H21.7035C21.7263 11.3894 21.8949 11.7266 22.2094 11.9773C22.5284 12.2234 22.9477 12.3464 23.4672 12.3464C23.9457 12.3464 24.3285 12.2507 24.6156 12.0593C24.9073 11.8634 25.0531 11.6036 25.0531 11.28ZM30.0297 9.81714L29.2367 10.6443V13.2419H27.9721V2.74194H29.2367V9.09253L29.9135 8.27905L32.2172 5.84546H33.7553L30.8773 8.9353L34.0902 13.2419H32.6068L30.0297 9.81714Z" fill="#333333"/>
      <path d="M78.1514 8.25171L78.6572 3.28882H83.7568V4.45776H79.7305L79.4297 7.17163C79.9173 6.88452 80.471 6.74097 81.0908 6.74097C81.9977 6.74097 82.7178 7.04175 83.251 7.64331C83.7842 8.24032 84.0508 9.04924 84.0508 10.0701C84.0508 11.0955 83.7728 11.9044 83.2168 12.4968C82.6654 13.0847 81.8929 13.3787 80.8994 13.3787C80.0199 13.3787 79.3021 13.1348 78.7461 12.6472C78.1901 12.1596 77.8734 11.4851 77.7959 10.6238H78.9922C79.0697 11.1934 79.2725 11.6241 79.6006 11.9158C79.9287 12.2029 80.3617 12.3464 80.8994 12.3464C81.4873 12.3464 81.9476 12.1459 82.2803 11.7449C82.6175 11.3438 82.7861 10.7901 82.7861 10.0837C82.7861 9.41838 82.6038 8.88517 82.2393 8.48413C81.8792 8.07853 81.3984 7.87573 80.7969 7.87573C80.2454 7.87573 79.8125 7.9965 79.498 8.23804L79.1631 8.51147L78.1514 8.25171ZM91.6729 8.99683C91.6729 10.4779 91.4199 11.5785 90.9141 12.2986C90.4082 13.0186 89.6175 13.3787 88.542 13.3787C87.4801 13.3787 86.694 13.0278 86.1836 12.3259C85.6732 11.6195 85.4089 10.5668 85.3906 9.16772V7.47925C85.3906 6.01636 85.6436 4.92944 86.1494 4.21851C86.6553 3.50757 87.4482 3.1521 88.5283 3.1521C89.5993 3.1521 90.3877 3.49618 90.8936 4.18433C91.3994 4.86792 91.6592 5.92521 91.6729 7.3562V8.99683ZM90.4082 7.26733C90.4082 6.19637 90.2578 5.41707 89.957 4.92944C89.6562 4.43726 89.18 4.19116 88.5283 4.19116C87.8812 4.19116 87.4095 4.43498 87.1133 4.92261C86.8171 5.41024 86.6644 6.15991 86.6553 7.17163V9.19507C86.6553 10.2706 86.8102 11.0658 87.1201 11.5808C87.4346 12.0912 87.9085 12.3464 88.542 12.3464C89.1663 12.3464 89.6289 12.1049 89.9297 11.6218C90.235 11.1388 90.3945 10.3777 90.4082 9.33862V7.26733ZM93.1836 5.20288C93.1836 4.60588 93.3727 4.11369 93.751 3.72632C94.1338 3.33895 94.6237 3.14526 95.2207 3.14526C95.8268 3.14526 96.3167 3.34123 96.6904 3.73315C97.0687 4.12052 97.2578 4.6241 97.2578 5.2439V5.72925C97.2578 6.33081 97.0664 6.823 96.6836 7.20581C96.3053 7.58407 95.8223 7.77319 95.2344 7.77319C94.6419 7.77319 94.152 7.58407 93.7646 7.20581C93.3773 6.823 93.1836 6.31486 93.1836 5.6814V5.20288ZM94.127 5.72925C94.127 6.08472 94.2272 6.37866 94.4277 6.61108C94.6283 6.83895 94.8971 6.95288 95.2344 6.95288C95.5579 6.95288 95.8177 6.84123 96.0137 6.61792C96.2142 6.39461 96.3145 6.08927 96.3145 5.7019V5.20288C96.3145 4.84741 96.2165 4.55347 96.0205 4.32104C95.8245 4.08862 95.5579 3.97241 95.2207 3.97241C94.8835 3.97241 94.6169 4.08862 94.4209 4.32104C94.2249 4.55347 94.127 4.85653 94.127 5.23022V5.72925ZM98.0303 10.8015C98.0303 10.2045 98.2194 9.7146 98.5977 9.33179C98.9805 8.94442 99.4704 8.75073 100.067 8.75073C100.664 8.75073 101.154 8.94214 101.537 9.32495C101.92 9.70776 102.111 10.2159 102.111 10.8494V11.3347C102.111 11.9317 101.92 12.4239 101.537 12.8113C101.159 13.1941 100.674 13.3855 100.081 13.3855C99.4886 13.3855 98.9987 13.1964 98.6113 12.8181C98.224 12.4353 98.0303 11.9272 98.0303 11.2937V10.8015ZM98.9736 11.3347C98.9736 11.6947 99.0739 11.991 99.2744 12.2234C99.4749 12.4513 99.7438 12.5652 100.081 12.5652C100.409 12.5652 100.671 12.4535 100.867 12.2302C101.063 12.0024 101.161 11.6947 101.161 11.3074V10.8015C101.161 10.4415 101.061 10.1475 100.86 9.91968C100.664 9.69181 100.4 9.57788 100.067 9.57788C99.7438 9.57788 99.4795 9.69181 99.2744 9.91968C99.0739 10.143 98.9736 10.446 98.9736 10.8289V11.3347ZM95.5215 12.49L94.8037 12.0388L99.6641 4.25952L100.382 4.71069L95.5215 12.49Z" fill="#333333"/>
      <defs>
      <filter id="filter0_d" x="0" y="22.2419" width="108" height="14" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
      <feFlood flood-opacity="0" result="BackgroundImageFix"/>
      <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"/>
      <feOffset dy="4"/>
      <feGaussianBlur stdDeviation="2"/>
      <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.25 0"/>
      <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow"/>
      <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow" result="shape"/>
      </filter>
      </defs>
    </svg>
    <div class="tasklist">
      <h3>Tasks to do</h3>
      <ul>
      <%# @tasks.each do |task| %>
        <li><%#= task.unit.unit_number %> <%#= task.title %></li>
      <%#last-name end %>
      </ul>
    </div>
  </div>

  <div class="profits-loss">
    <div class="total">
      <h3>Profit and Loss</h3>
      <p>$23,000</p>
      <p>This Month</p>
    </div>

    <div class="profit">
      <p>$40,000 </p>
        <svg width="354" height="38" viewBox="0 0 354 38" fill="none" xmlns="http://www.w3.org/2000/svg">
          <rect width="354" height="38" fill="#50A8AB"/>
        </svg>
    </div>
    <div class="loss">
      <p>$17,000</p>
      <svg width="234" height="38" viewBox="0 0 234 38" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect width="234" height="38" fill="#13547A"/>
      </svg>
    </div>
  </div>
</div>