<div class="renter">
  <h1>Welcome: </h1>
<div class="dashboard">
  <div class="pro-com">
    <div class="profile">
      <a href=""><img class="avatar-large" alt="avatar-large" src="http://res.cloudinary.com/duc5z0utg/image/upload/oby4dd2y3xuh3g1mmxn0yhxltwhw" /></a>
      <p>Profile</p>
    </div>
    <div class="communication">
      <a href=""><img class="avatar-large" alt="avatar-large" src=" https://res.cloudinary.com/duc5z0utg/image/upload/v1598735735/comment-alt-regular_inpeyv.svg" /></a>
      <p>Communications</p>
    </div>
  </div>
  <div class="payment">
    <a href=""><img class="avatar-large" alt="avatar-large" src="https://res.cloudinary.com/duc5z0utg/image/upload/v1598735715/cc-stripe-brands_pczihf.svg" /></a>
    <p>Payments</p>
  </div>
</div>