Z.btn-primary {
  border-radius: 10px;
  display: flex;
  justify-content: center;
  margin-top: 25px;
}

.building-index {
  display: none;
}

.building-index.active {
  display: block !important;
}

.building-index h1 {
  margin-bottom: 20px;
}

.button-navigation {
  cursor: pointer;
  user-select: none;
  color: black;
  &:hover {
    color: grey;
  }
}

.button-navigation.disable {
  color: lightgray;
  cursor: not-allowed;
}

.header-buildings {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

body {
  background-color: #F8F8F8;
}

.top-cards {
  display: flex;
}

.information {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  width: 33%;
  padding: 16px;
  box-shadow: 2px 6px 6px rgba(0, 0, 0, 0.11);
  i {
    color: #009BA5;
  }
}
.information p {
  margin: 7px;
}
.information h3 {
  margin-bottom: 15px;
}
#home-page-info {
  display: flex;
  flex-direction: column;
}
.accounting {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 66%;
  margin-left: 20px;
  box-shadow: 2px 6px 6px rgba(0, 0, 0, 0.11);
  padding: 16px;
}
#income {
  background-color: #009BA5;
  display: flex;
  justify-content: space-between;
  padding-top: 8px;
  height: 40px;
  width: 100%;
  border: 1px solid #F8F8F8;
}
#income p {
  margin-left: 20px;
  margin-right: 20px;
  color: white;
}
.expenses {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  width: 48%;
  padding: 16px;
  box-shadow: 2px 6px 6px rgba(0, 0, 0, 0.11);
}

.tasks-to-do {
  // display: flex;
  // flex-direction: column;
  align-items: center;
  background-color: white;
  width: 48%;
  margin-left: 23px;
  padding: 16px;
  box-shadow: 2px 6px 6px rgba(0, 0, 0, 0.11);
  h3 {
    text-align: center;
  }
}

.bottom-cards {
  display: flex;
  margin-top: 20px;
  margin-bottom: 20px;
  width: 100%
}

.building-accounting{
  width: 90%;
  padding: 5%;
  th {
    background-color: #C1C1C1;
    color: white;
    padding: 4px;
    padding-right: 8px;
    padding-left: 8px;
    border-bottom: 2px solid white;
  }
  td:nth-child(2n), th:nth-child(2n) {
    text-align: right;
  }
}

.building-btn .btn-primary {
  left: 40%;
}

.collapse-menu {
  margin-bottom: 10px;
}

.add-task-btn {
display: flex;
justify-content: center;
margin-top: 15px;
}

.purchase-date {
  color: gray;
}

#unit-expense-chart {
  margin-top: 10px;
}

.dropdown-title {
  display: flex;
  justify-content: space-between;
}
