Z.btn-primary {
  border-radius: 10px;
  display: flex;
  justify-content: center;
  margin-top: 25px;
}

.building-index {
  display: none;
}

.building-index.active {
  display: block !important;
}

.building-index h1 {
  margin-bottom: 20px;
}

.button-navigation {
  cursor: pointer;
  user-select: none;
  color: black;
  &:hover {
    color: grey;
  }
}

.button-navigation.disable {
  color: lightgray;
  cursor: not-allowed;
}

.header-buildings {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

body {
  background-color: #F8F8F8;
}

.top-cards {
  display: flex;
}

.information {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  width: 33%;
  box-shadow: 2px 6px 6px rgba(0, 0, 0, 0.11);
}
.information p {
  margin: 20px;
}
.information h3 {
  margin-bottom: 0px;
}
#home-page-info {
  display: flex;
  flex-direction: column;
}
.accounting {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 66%;
  margin-left: 20px;
  box-shadow: 2px 6px 6px rgba(0, 0, 0, 0.11);
}
#income {
  background-color: #009BA5;
  display: flex;
  justify-content: space-between;
  padding-top: 8px;
  height: 40px;
  width: 100%;
  border: 1px solid #F8F8F8;
}
#income p {
  margin-left: 20px;
  margin-right: 20px;
  color: white;
}
.expenses {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  width: 50%;
  box-shadow: 2px 6px 6px rgba(0, 0, 0, 0.11);
}

.tasks-to-do {
  // display: flex;
  // flex-direction: column;
  align-items: center;
  background-color: white;
  width: 50%;
  margin-left: 20px;
  box-shadow: 2px 6px 6px rgba(0, 0, 0, 0.11);
  h3 {
    text-align: center;
  }
}

.bottom-cards {
  display: flex;
  margin-top: 20px;
  margin-bottom: 20px;
}

.building-accounting{
  width: 90%;
  padding: 5%;
  th {
    background-color: #009BA5;
    color: white;
  }
  td:nth-child(2n), th:nth-child(2n) {
    text-align: right;
  }
}

.building-btn .btn-primary {
  border-radius: 10px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 7px;
  padding-bottom: 7px;
  background: linear-gradient(120deg, #00486E 0%, #00486E 20%, #6ECBC1 100%);
  position: relative;
  left: 40%;
}

.building-btn .btn-primary:hover {
  background: linear-gradient(300deg, #00486E 0%, #00486E 20%, #6ECBC1 100%);
}
.collapse-menu {
  margin-bottom: 10px;
}

.add-task-btn {
display: flex;
justify-content: center;
}
