<h1>Contractors#index</h1>
<% @contractors.each do |contractor| %>
<ul class="list-group">
<h2><%= contractor.name %></h2>
  <li class="list-group-item">Speciality: <%= contractor.speciality %></li>
  <li class="list-group-item">Phone Number: <%= contractor.phone_number %></li>
</ul>
<% end %>