.unit-page {
  display:flex;
  justify-content: space-between;
}

.unit-id-header {
  display: flex;
  justify-content: center;
}
.info-page-right {
  // display: flex;
  flex-direction: column;
  box-shadow: 2px 6px 6px rgba(0, 0, 0, 0.11);
  margin-left: 20px;
}
.top-unit-card {
  // display: flex;
  background-color: white;
  box-shadow: 2px 6px 6px rgba(0, 0, 0, 0.11);
  padding: 20px;
}

.lease-info {
  // display: flex;
  flex-direction: column;
  background-color: white;
  box-shadow: 2px 6px 6px rgba(0, 0, 0, 0.11);
  margin-top: 20px;
  padding: 20px;
}

.first-tenant {
  // display: flex;
  flex-direction: column;
  background-color: white;
  box-shadow: 2px 6px 6px rgba(0, 0, 0, 0.11);
  margin-top: 20px;
  padding: 20px;
}

.unit-btn {
  display: flex;
  justify-content: space around;
  margin-right: 30px;
}
