<div class="error-404">
  <h1>Oh, No!</h1>
  <img id="img-400" src="https://image.freepik.com/free-vector/page-with-404-code-construction_89224-2833.jpg" height=400; width="900" alt="">
    <h5 id="d-400">The page you are looking for is temorarily unavailable, sorry for the inconvenience!</h5>
</div>
