<div class="error-500">
  <h1>Oops, Error 500!</h1>
  <div class="500-card">
  <img id="img-500" src="https://cdn-images-1.medium.com/max/1200/1*J3bTPPSDgi5wWlCDKqQChg.png" height=400; width="900" alt="">
    <div class="500-d">
      <h5 id="d-500">Sorry.. It's not you. It's us.We're experiencing an internal server problem. Try again later!</h5>
    </div>
  </div>
</div>

