.panel {
  padding: 15px;
  background-color: white;
  display: none;
  overflow: hidden;
  transition: 0.4s;
}

.dropdown {
  background-color: white;
  transition: 0.4s;
  border: 1px solid #d6d6d6;
  padding: 5px;
}

.btn.accordion {
  font-size: 18px;
}
