

.dropdown-menu {
  ul {
    list-style-type: none;
  }
  li {
    border-bottom: 1px solid gray;
    padding: 5px;
    padding-right: -100px;
    margin-left: -15%;
  }
  li:first-child{
    border-top: 1px solid gray;
  }
}

@media (min-width:320px)  {
   /* smartphones, iPhone, portrait 480x320 phones */ 
  .navbar {
    width: 100%;
    height: 60px;
    background: linear-gradient(80deg, #00486E 0%, #00486E 20%, #6ECBC1 100%);
    position: sticky;
    z-index: 1;
    bottom: 0;
    justify-content: start;
    .fas {
      color: white;
      padding-left: 30px;
    }
  }

  .navbar-logo {
    width: 90%;
    height: 45px;
    display: flex;
    justify-content: center;
  }
  
  .navbar-logo img {
    height: 45px;
  }
}

// @media (min-width:641px)  {
//    /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */ 
   
// }

@media (min-width:961px)  { 
  /* tablet, landscape iPad, lo-res laptops ands desktops */ 
  .sidenav {
    height: 100%;
    width: 60px;
    position: fixed;
    margin-top: 50px;
    z-index: 1;
    background-color: #00486E;
    display: flex;
    justify-content: center;
    .plus, .far {
      background: none;
      border: none;
      color: white;
      display: block;
      margin-top: 36px;
      font-size: 18px;
    }
  }
  
  .navbar {
    width: 100%;
    height: 60px;
    background: linear-gradient(80deg, #00486E 0%, #00486E 20%, #6ECBC1 100%);
    padding-left: 12px;
    position: fixed;
    z-index: 1;
    top: 0;
    justify-content: start;
    .fas {
      color: white;
      padding-left: 30px;
    }
  }
  
  .icons {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
  }
  
  
  .navbar-logo {
    width: 90%;
    height: 45px;
    display: flex;
    justify-content: center;
  }
  
  .navbar-logo img {
    height: 45px;
  }
}

@media (min-width:1281px) { 
  /* hi-res laptops and desktops */ 
  .sidenav {
    height: 100%;
    width: 60px;
    position: fixed;
    margin-top: 50px;
    z-index: 1;
    background-color: #00486E;
    display: flex;
    justify-content: center;
    .plus, .far {
      background: none;
      border: none;
      color: white;
      display: block;
      margin-top: 36px;
      font-size: 18px;
    }
  }
  
  .navbar {
    width: 100%;
    height: 60px;
    background: linear-gradient(80deg, #00486E 0%, #00486E 20%, #6ECBC1 100%);
    padding-left: 12px;
    position: fixed;
    z-index: 1;
    top: 0;
    justify-content: start;
    .fas {
      color: white;
      padding-left: 30px;
    }
  }
  
  .icons {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
  }
  
  
  .navbar-logo {
    width: 90%;
    height: 45px;
    display: flex;
    justify-content: center;
  }
  
  .navbar-logo img {
    height: 45px;
  }
}