.error-404{
  background-color: white;
  margin: 10px;
  padding-top: 20px;
  padding-bottom: 30px;
  border-radius: 10px;
  box-shadow: 2px 6px 6px rgba(0, 0, 0, 0.11);
#img-400 {
  padding-left: 140px;
  }
#d-400 {
  padding-left: 110px;
  }
}
